*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(241, 242, 242);
}
.calendar{
    padding: 15px,20px;
        
}
.months-container{
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.calendar .months-container .month-container{
    background-color: rgb(152, 173, 173);
    min-width: 250px;
    min-height: 255px;
    box-shadow: 1px 2px 10px black;
    border-radius: 15px;
}
.calendar table.month th.month-title{
    color: rgb(244, 190, 124);
    padding: 10px;
    font-weight: 200;
}
.month td:first-child{
    color: rgb(230, 106, 106);
}
.month td:last-child{
    color: rgb(230, 106, 106);
}
table.month thead tr:nth-child(2) th:first-child{
    color: rgb(230, 106, 106);
}
table.month td.day .day-content:hover{
    background-color: rgb(72, 136, 40);
    color: aliceblue;
}
div.calendar .calendar-header{
    border: none;
}
.calendar .calendar-header .year-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 10200px;
    font-size: 25px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 8px 5px 30px #a5a2a2,
    -20px -20px 60px #ffffff;
    border-radius: 10px;
    padding: 0;
    transition: 0.6s;

}
.calendar .calendar-header .year-title:hover{
    background-color: rgb(65, 164, 165);
    color: #ffffff;
    
}
.calendar .calendar-header .year-neighbor2{
    font-size: 10px;
}